html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lora', sans-serif;
    /* background-image: url('header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
       
}

h1 {
    font-size: 2.5rem;
    color:#bd21308c;
}

hr {
    border: 1.5px solid #ea7979;
    max-width: 54px;
}
footer {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    border-radius: 02px;
    background-color:  #262727;   
}

a {
    font-size: 0.8rem;
    color:#f5bcbc;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover {
    color:#e78080;
    text-decoration: none;
    font-size: 85%;
}

p {
    font-size: 1.2rem;
    color: #ffa2a2;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
       
}
p:hover {
    color:#ffa2a2;
    font-size: 130%;
}

nav.container-fluid {
    background-color: #333240;
}

.container-fluid {
    border-radius:3px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
    
}

.container-fluid:hover {
    -moz-box-shadow:    inset 0 0 05px #000000;
   -webkit-box-shadow: inset 0 0 05px #000000;
   box-shadow:         inset 0 0 05px #000000;
}


.buffer {
    height: 01rem;;
}
.btn {
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 1rem 2rem;
}
.btn-outline-secondary {
    background-color: #ea7979;
    border-color: #ea7979;
    color :whitesmoke;
    font-size: 0.8rem;
}
.btn-outline-secondary:hover {
    border-width: 3px;
    background-color: #f5bcbc;
    border-color: #f5bcbc;
    cursor:pointer;
} 

.main-content {
    background: url('header5.jpg') no-repeat center center scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    margin-right: auto;
}

.nav-item {
    padding: 0px 20px;
    padding-top: 1rem;
}



