html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lora', sans-serif ;
    background-color: rgb(49, 21, 44); /*fall back background*/
    /* background-image: url('header.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    background: url('header5.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

h1 {
    font-size: 2.5rem;
    color:#bd21308c;
}

hr {
    border: 1.5px solid #ea7979;
    max-width: 54px;
}

.buffer {
    height: 01rem;;
}
.btn {
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 1rem 2rem;
}
.btn-outline-secondary {
    background-color: #ea7979;
    border-color: #ea7979;
    color :whitesmoke;
    font-size: 0.8rem;
}
.btn-outline-secondary:hover {
    border-width: 4px;
    background-color: #f5bcbc;
    border-color: #f5bcbc;
} 
